:root {
	--bg-color: #394755;
	--bg-color-dark: #323d47;
	--logo-color: #F73859;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
	background: var(--bg-color);
	font-family: 'Roboto Mono', monospace;
}

body, html {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
}

h1 {
	font-size: 4rem;
	line-height: 4.5rem;
}

h2 {
	font-size: 3rem;
	line-height: 3.5rem;
}

h3 {
	font-size: 2.5rem;
	line-height: 3rem;
}

h4 {
	font-size: 2rem;
	line-height: 2.5rem;
}

h5 {
	font-size: 1.5rem;
	line-height: 2rem;
}

h6 {
	font-size: 1.2rem;
	line-height: 1.8rem;
}

p {
	font-size: 1.2rem;
	line-height: 2rem;
}

header {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 20px);
	width: 100%;
}

a {
	text-decoration: none;
	transition: all 200ms linear;
}

a:hover {
	color: var(--logo-color);
}

nav {
	align-items: center;
	display: flex;
	height: 10%;
	justify-content: space-between;
	margin: 20px 50px;
}

ol {
	counter-reset: aramcode-counter;
	color: var(--logo-color);
	list-style: none;
}

ol li {
	counter-increment: aramcode-counter;
}

ol li::before {
	content: '0' counter(aramcode-counter) '.';
	margin-right: 10px;
}

ol li a {
	color: white;
	transition: all 200ms linear;
}

.arrow {
	cursor: pointer;
	height: 24px;
	margin-left: 20px;
	transform: rotate(270deg);
	width: 24px;
}

.btn-link {
	border: 1px solid var(--logo-color);
	border-radius: 5px;
	color: white;
	padding: 20px 30px;
	transition: all 200ms linear;
	width: fit-content;
	width: -moz-fit-content;
}

.btn-link:hover {
	background-color: rgba(247, 56, 89, .2);
	color: white;
}

.logo {
	width: 50px;
}

.menu {
	display: flex;
	flex-flow: row wrap;
	gap: 50px;
}

.menu-mobile {
	display: none;
}

.hamburguer {
	display: none;
}

.intro {
	align-self: center;
	display: flex;
	flex-direction: column;
	height: 90%;
	justify-content: center;
	width: 80%;
}

.intro h4 {
	color: var(--logo-color);
}

.intro p {
	margin: 10px 0 50px;
}

.intro h1 {
	background: linear-gradient(var(--logo-color), #fff);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-moz-background-clip: text;
}

.intro h2, p {
	color: white;
}

.networks {
	background: var(--bg-color);
	border-top: 1px dashed white;
	bottom: 0;
	padding: 20px 0;
	position: fixed;
	width: 100%;
	z-index: 30;
}

.networks ul {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	list-style: none;
	gap: 20px;
}

.networks img,
.networks svg  {
	fill: white;
	transition: all 200ms linear;
	width: 22px;
}

.networks img:hover,
.networks svg:hover  {
	transform: scale(1.2);
}

.networks hr {
	border: 1px solid #fff;
	color: white;
	height: 100px;
	width: 1px;
}

.block {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100vh;
}

.block-container {
	color: white;
	width: 80%;
}

.block-container  span {
	color: var(--logo-color);
}

.info {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	gap: 150px;
}

.info-pic img {
	box-shadow: 1px 1px 5px var(--logo-color);
	max-width: 800px;
	width: 100%;
}

.info .data {
	flex: 1;
}

.info .info-pic {
	flex: 1;
}

.matrix {
	display: flex;
	flex-flow: row wrap;
	gap: 20px 50px;
}

.matrix .item {
	background: var(--bg-color-dark);
	padding: 20px;
	width: 300px;
}

.tags {
	color: #f6f6f6;
	display: flex;
	font-size: .8rem;
	font-weight: 300;
	flex-flow: row wrap;
	gap: 10px 20px;
	margin-top: 10px;
}

.tags span {
	color: #f8f8f8;
}

.works-sections ul {
	list-style: none;
}

summary {
	color: var(--logo-color);
	cursor: pointer;
	font-size: 1.3rem;
}

details div {
	border: 1px dashed white;
	margin: 10px 20px;
	padding: 10px 20px;
}

@media (max-width: 800px) {
	h2 {
		font-size: 2rem;
	}

	.hamburguer {
		display: block;
	}

	.hamburguer svg {
		fill: white;
	}

	.menu {
		display: none;
	}

	.menu-mobile {
		display: none;
		height: 100vh;
		overflow: hidden;
		width: 100vw;
	}

	.menu-mobile ul {
		display: flex;
		flex-flow: column wrap;
		font-size: 2rem;
		gap: 30px;
		height: 100vh;
		margin: 0 auto;
		justify-content: center;
		text-align: center;
		width: auto;
	}

	.menu-mobile ul a {
		color: white;
	}

	.menu-mobile.show {
		align-items: center;
		background: var(--bg-color-dark);
		justify-content: center;
		left: 0;
		position: fixed;
		top: 0;
		z-index: 50;
	}

	.close {
		height: 30px;
		position: absolute;
		right: 30px;
		top: 30px;
		width: 30px;
	}

	nav {
		margin: 0 40px 40px;
	}

	.intro {
		height: auto;
	}

	.intro h4 {
		font-size: 1.5rem;
	}

	.intro h1 {
		font-size: 3rem;
	}

	.intro h2 {
		font-size: 2rem;
	}

	.info {
		align-items: center;
		display: flex;
		flex-flow: column wrap;
		gap: 150px;
	}

	.block {
		height: auto;
		margin-bottom: 100px;
	}

	.matrix .item {
		width: 200px;
	}

	.matrix .item img {
		width: 250px;
	}
}